.toolbar {
  display: flex;
  align-items: center;
  height: 80px;
  font-size: 1rem;
  width: 100%;
  margin: 0 auto;
  background-color: #3e3e3e;
  margin-bottom: 2rem;
}

.toolbar__avatar {
  cursor: pointer;
  outline: none;
}

.toolbar_count {
  flex: 1 1 25%;
}

.toolbar_count,
.toolbar_time {
  font-size: 2rem;
  color: #fff;
}

.app__is_ticking .toolbar_time {
  color: #ffdd67;
}

.toolbar_time {
  flex: 1 1 25%;
}

.toolbar__settings {
  position: absolute;
  top: 10px;
  right: 10px;
}

.toolbar__settings__button {
  width: 45px;
  height: 45px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  outline: none;
}

.toolbar__settings__button img {
  transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19); /* easeInCubic */
  transform: rotate(0deg);
}

.toolbar__settings__button:hover img {
  transition: all 800ms cubic-bezier(0.215, 0.61, 0.355, 1); /* easeOutCubic */
  transform: rotate(160deg);
}

.settings {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%,0);
  transition: all 600ms cubic-bezier(0.25, 0.46, 0.45, 0.94); /* easeOutQuad */
  opacity: 1;
}
